            {% extends "common/base.html" %}
            {% import "macros.html" as macros %}
            {% block page_content %}

            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">General Elements</h3>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Form elements</h3></div>
                            <div class="panel-body">

                                <form class="form-horizontal m-t-40" action="{{ url_for('main.edit_assettype') }}" method="POST">
                                {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">资产类别名称</label>
                                        <div class="col-md-5">
                                            {{ form.name(class="form-control") }}
                                            {{ macros.print_form_messages(form.errors.name) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">备注</label>
                                        <div class="col-md-5">
                                            {{ form.remarks(class="form-control") }}
                                            {{ macros.print_form_messages(form.errors.remarks) }}
                                        </div>
                                    </div>

                                    <div class="form-group m-b-0">
                                        <div class="col-sm-offset-2 col-sm-9">
                                          <button type="submit" class="btn btn-info">提交</button>
                                        </div>
                                    </div>

                                </form>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            {% endblock %}