{% extends "common/base.html" %}


{% block page_content %}
    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">设备管理</h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body table-rep-plugin">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-small-font table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th data-priority="1">资产号</th>
                                    <th data-priority="2">主机名</th>
                                    <th data-priority="3">公网IP</th>
                                    <th data-priority="4">内网IP</th>
                                    <th data-priority="5">使用状态</th>
                                    <th data-priority="6">流程状态</th>
                                    <th data-priority="7">库房状态</th>
                                    <th data-priority="8">设备型号</th>
                                    <th data-priority="9">使用部门</th>
                                    <th data-priority="10">使用人</th>
                                    <th data-priority="11">设备类型</th>
                                    <th data-priority="12">CPU</th>
                                    <th data-priority="13">内存</th>
                                    <th data-priority="14">磁盘</th>
                                    <th data-priority="15">OS</th>
                                    <th data-priority="16">电源状态</th>
                                    <th data-priority="17">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <label class="cr-styled">
                                            <input type="checkbox" checked="">
                                            <i class="fa"></i>
                                        </label>
                                    </td>
                                    <td>ZQ-M22-C01</td>
                                    <td>Nginx—Master</td>
                                    <td>113.24.55.102</td>
                                    <td>10.220.20.12</td>
                                    <td>已用</td>
                                    <td>预入库</td>
                                    <td>在库</td>
                                    <td>R420</td>
                                    <td>研发部</td>
                                    <td>柯发通</td>
                                    <td>物理机</td>
                                    <td>24核</td>
                                    <td>64GB</td>
                                    <td>600GB</td>
                                    <td>RHEL6.4</td>
                                    <td>在线</td>
                                    <td class="actions">
                                        <a class="hidden on-editing save-row" href="#"><i class="fa fa-save"></i></a>
                                        <a class="hidden on-editing cancel-row" href="#"><i class="fa fa-times"></i></a>
                                        <a class="on-default edit-row" href="#"><i class="fa fa-pencil"></i></a>
                                        <a class="on-default remove-row" href="#"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        {% if pagination %}
                            <div class="pagination">
                                {{ macros.pagination_widget(pagination, endpoint ) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->


    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->

{% endblock %}